.column {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 600px;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: white;
}

.droppable {
  height: 100%;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
